# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.db
*.pyc
db.sqlite3

# Env
.env
venv/
ENV/
myenv/
*.env

# VS Code / IDEs
.vscode/
.idea/

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py
